@import "style dark.css";

body
{
	background: radial-gradient(#004b79,#000);
	min-height: min-content;
}

main
{
	margin-top: 0;
}

h2
{
	font-size: small;
}

input
{
	width: 12.5%;
	border-radius: 5px;
}
#persons
{
	width: 80%;
	border: none;
}

.input-box
{
	width: 40%;
	display: inline-flex;
	background-color: white;
	border: #00abe1 3px solid;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	display: inline-table;
}

.nav-text h1
{
	margin: 10px 0 0 0;
}

.confirmed-box
{
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}
.confirmed-box img
{
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.complete-item
{
	margin: 10px 0 10px 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
#new
{
	cursor: pointer;
	background: rgba(128, 255, 0, 0.2);
	text-align: center;
}

#total
{
	min-height: 0;
}


.money
{
	float: right;
}